/* COLLAPSE SCREEN ANIMATION */
.collapse {
    animation: size 2s ease-out;
    animation-fill-mode: forwards;
}
.collapse:before {
    content: '';
    
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    z-index: 1;
    opacity: 0;
    animation: opacity 1s ease-out;
    animation-fill-mode: forwards;
}


@keyframes opacity {
    to { opacity: 1; }
}
@keyframes size {
    50% {
        transform: scaleX(calc(1 / 1440));
        opacity: 1;
    }
    98% {
        transform: scaleX(calc(1 / 1440)) scaleY(calc(1 / 2560));
        opacity: 1;
    }
    100% {
        transform: scaleX(calc(1 / 1440)) scaleY(calc(1 / 2560));
        opacity: 0;
    }  
}